<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
       
        <handlers>
            <add name="gcomfastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\PHP\php-cgi.exe" resourceType="File" />
        </handlers>
        <httpProtocol>
           
        </httpProtocol>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
    <connectionStrings>
        <add connectionString="server=192.168.1.150;database=gcom;uid=gcom;Pwd=7807576828" name="gcom" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
